In [1]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
#loading the data
with open('data/yelp_academic_dataset_review.json', encoding='utf-8') as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)
df_review.head(2)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18

In [10]:
df_review.shape

(6990280, 9)

In [11]:
#dropping unnecessary columns
df_review.drop(['review_id', 'user_id', 'business_id', 'useful', 'funny', 'cool','date','stars'], axis=1, inplace=True)
df_review.head(5)

                                                text
0  If you decide to eat here, just be aware it is...
1  I've taken a lot of spin classes over the year...
2  Family diner. Had the buffet. Eclectic assortm...
3  Wow!  Yummy, different,  delicious.   Our favo...
4  Cute interior and owner (?) gave us tour of up...

In [12]:
# saving the data to be used later on
df_review.to_pickle('data/yelp_dataset_reviews.pkl')
df_review.to_csv('data/yelp_dataset_reviews.csv')

In [13]:
df1 = pd.read_pickle('data/yelp_dataset_reviews.pkl')
df1.head(10)

                                                text
0  If you decide to eat here, just be aware it is...
1  I've taken a lot of spin classes over the year...
2  Family diner. Had the buffet. Eclectic assortm...
3  Wow!  Yummy, different,  delicious.   Our favo...
4  Cute interior and owner (?) gave us tour of up...
5  I am a long term frequent customer of this est...
6  Loved this tour! I grabbed a groupon and the p...
7  Amazingly amazing wings and homemade bleu chee...
8  This easter instead of going to Lopez Lake we ...
9  Had a party of 6 here for hibachi. Our waitres...